$main-color: #EBE8E4;
$sub-color: #87998B;
$third-color: #8AB0BF;
$forth-color: #87998B;
$light-color: #EBE8E4;
$my-color: #8AB0BF;
$text-color: #fff;
$text-sub-color: #1F1F26;
$logo-color: #07797A;
$warning-color: #F24B4B;
body {
  font-family: 'Gochi Hand', cursive, 'Kosugi Maru', sans-serif;
}