$main-color: #fff;
$sub-color: #333;
$third-color: #ccc;
$forth-color: #fff;
$light-color: #fff;
$my-color: #07797A;
$text-color: #fff;
$text-sub-color: #ccc;
$logo-color: #07797A;
$warning-color: #F24B4B;
body {
  font-family: 'Gochi Hand', cursive, 'Kosugi Maru', sans-serif;
}