$main-color: #4D6F8C;
$sub-color: #FC9D9D;
$dark-color: #175073;
$light-color: #fff;
$yellow: #ffd803;
$text-color: #fff;
$text-dark-color: #1F1F26;

body {
  font-family: 'Gochi Hand', cursive, 'Kosugi Maru', sans-serif;
}